.header-container {
    display: flex;
    justify-content:space-between;
}

.header-item-1 {
    display: flex;
    
}
.header-item-left {
    margin:15px;
    color:gray;
}

.header-item-right {
    margin:10px;
}