.header-container {
    display: flex;
    justify-content:space-between;
    /* flex-shrink: 0; */
}

.header-item-1 {
    display: flex;
    
}
.header-item-left {
    margin:15px;
    color:#bdc1c6;
}

.header-item-right {
    margin:10px;
}